.album-list
  display: flex
  flex-flow: column
  .album-container
    display: flex
    justify-content: space-between
    .left-elements, .right-elements
      display: flex
      flex-flow: column
    .left-elements
      width: 150px
      .album-cover img
        max-width: 100%
    .right-elements



